.add-internal-body{
	position: relative;
	top: 40px;
	margin-left: auto;
	margin-right: auto;
	width: 500px;
	height: 550px;
}

.remaining-body .add-internal-body span{
	display: block;
	width: 100px;
	position: relative;
	left: 70px;
}

#add-form-input{
	position: relative;
	left: 70px;
	height: 30px;
	width: 200px;
	transform: translate(100px, -23px);
}

#add-form-input-button{
	position: relative;
	left: 70px;
	height: 30px;
	width: 100px;
	transform: translate(100px, -23px);
}

a{
	text-decoration: none;
}