<html>
    <head>
        <title>konto</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css')}}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/profile.css')}}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/add.css')}}">
        <script src="{{ url_for('static', filename='js/konto.js')}}"></script>
    </head>
    <body>
        <div class="home-top-header">
            <div class="top-links">
                <span><a href="/profile/{{ user.username }}">{{ user.firstname }} {{ user.lastname }}</a></span>
                &nbsp;&nbsp;&nbsp;<span><a href="/">Home</a></span>
                &nbsp;&nbsp;&nbsp;<span><a href="/logout">Logout</a></span>
            </div>
        </div>

        <div class="remaining-body">
            <div class="add-internal-body">
                <form name="add_user_form" action="/add/balance" method="post">
                    
                    <span>Username :</span>
                    <input type="text" name="fellow_username" id="add-form-input">
                    <br><br>

                    <span>Amount :</span>
                    <input type="text" name="amount" id="add-form-input">
                    <br><br>

                    <span>Mod :</span>
                    <select name="sign" id="add-form-input">
                        <option value="positive">He'll give me</option>
                        <option value="negetive">I'll give him</option>
                    </select>
                    <br><br>

                    <button id="add-form-input-button">Accept</button>
                </form>
            </div>
        </div>
    </body>
</html>